{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    {% if original.is_delivered %}
        {% if original.with_notification %}
        <h3>Статус прочтения:</h3>
        <fieldset class="module aligned ">
            {% for s in original.statuses.all %}
            <div class="form-row"><div><label>{{ s.recipient }}</label><p>{% if s.received %}<img src="/static/admin/img/icon-yes.svg" alt="True" />{% else %}<img src="/static/admin/img/icon-no.svg" alt="True" />{% endif %}</p></div></div>
            {% endfor %}
        </fieldset>
        {% endif %}
    {% else %}
        <h3>Сохраните рассылку и затем отправьте.</h3>
    {% endif %}
    <div id="changelist">
    <h3>Данные рассылки:</h3>
    <form action="{% url opts|admin_urlname:'changelist' %}" method="POST">{% csrf_token %}
    {% if action_form and original.message != '' and original.subject != '' and not original.is_delivered %}
        <input type='hidden' name='action' value='send_mailing' />
        <input type="hidden" name="_selected_action" value="{{ object_id }}" />
        <input type="submit" value="Отправить" />
    {% endif %}
    </form>
    </div>
{% endblock %}

